<div class="row h-100 index__container mb-3">
  <div class="col h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="p-5">
        <p>
          La webapp fornisce un elenco delle Associazioni presenti nel territorio dell’Altovicentino e iscritte all’
          Albo comunale delle Associazioni.
        </p>

        <div>
          <p>Tramite la webapp è possibile</p>
          <ul>
            <li>
              cercare un’Associazione tramite parola chiave (es. “protezione civile” ...), per posizione oppure per
              categoria
            </li>
            <li>visualizzare le informazioni relative ad una data Associazione</li>
          </ul>
        </div>
      </div>
      <div class="flex-grow-1"></div>
    </div>
  </div>
</div>
